// colors

// white
$white_255_255: rgba(255, 255, 255, 1);
$white_299_299: rgba(299, 299, 299, 1);
$white_231_235:rgba(229, 231, 235, 1);
$white_250_251:rgba(249, 250, 251, 1);

// green
$green_193_177: rgba(0, 193, 177, 1);
$green_173_159: rgba(0, 173, 159, 1);

// black
$black_0_0_01: rgba(0, 0, 0, 0.1);
$black_0_0_05: rgba(0, 0, 0, 0.05);
$black_0_0_06: rgba(0, 0, 0, 0.06);
$black_130_130: rgba(130, 130, 130, 1);
